@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('./assets/fonts/Merriweather-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-merriweather: 'Merriweather', sans-serif;
  --primary: #d5a73b;
  --text-primary-transition: 0.5s ease-in-out;
  --text-primary-hover: #e7c983;
  --navbar-background-color: #131313;
  
}

body {
  padding-top: 120px;
}

/* Navbar Links styling */

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link {
  color: white;
  transition: color var(--text-primary-transition);
  font-family: var(--font-merriweather);
  text-decoration: none;
  font-weight: bold;
}

.login-text {
  color: white;
  transition: color var(--text-primary-transition);
  font-family: var(--font-merriweather);
  text-decoration: none;
  font-weight: bold;
}

.links-parent-container {
  width: 100%;
}

.links-container {
  gap: 2rem;
  font-size: 1rem;
}


.link:hover {
  color: var(--text-primary-hover);
}

.link.selected {
  color: var(--primary);
}

.nav-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 83%;
}

.nav-content {
  width: 100%;
  gap: 3rem;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--navbar-background-color);
  z-index: 30;
}

.mobile-menu-btn {
  display: block;
  background-color: var(--primary);
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
}

.mobile-menu-icon {
  color: var(--navbar-background-color);
  height: 1.5rem;
  width: 1.5rem;
}

.mobile-menu-container {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 40;
  height: 100%;
  width: 300px;
  background-color: var(--navbar-background-color);
  box-shadow: 3px 3px 3px var(--primary);
}

.close-button-container {
  display: flex;
  justify-content: flex-end;
  padding: 3rem;
}



.close-menu-icon {
  height: 1.5rem;
  width: 1.5rem;
  color: var(--primary);
}

.close-menu-btn {
  background-color: transparent;
  border: none;
}


.mobile-menu-items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 33%;
  font-size: 1.5rem;
  line-height: 2rem;
}

/* Home */

.home-section {
  height: 100vh;
}

.hero-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url("./assets/header-bg.webp");
  background-size: cover;
  background-repeat: repeat;
  padding-left: 2rem;
  padding-right: 2rem;

}

.left-side, .right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
  font-family: var(--font-merriweather);
  font-size: 2rem;
  margin-left: 4rem;
  padding: 0.5rem;
}


.logo-hero {
  align-self: center;
  opacity: 0.8;
  max-width: 500px;
}


.left-side p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
}

.right-side img {
  filter: drop-shadow(
    20px 20px 30px rgb(0, 0, 0)
  );

  width: 100%;
}

.hero-text-container {
  display: flex;
  text-align: center;
}

.blackboard .span-text-color {
  color: var(--primary);
  font-weight: bold;
}


.blackboard {
  margin-top: 1rem;
  /* background-color: rgb(18, 22, 18); */
  background-color: var(--navbar-background-color);
  padding: 2rem;
  border-radius: 1rem;
  border: 8px solid rgba(147, 112, 76, 0.6);
  display: flex;
  flex-direction: column;
  text-align: center;
  width: fit-content;
}

.blackboard .title-container {
  opacity: 0.8;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
}

.blackboard .hero-text-container {
  font-size: 1rem;
}

/* separation stylings */

.section-separation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--navbar-background-color);

}

.section-separation-title {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  font-family: var(--font-merriweather);
}

.separation-span-title {
  color: var(--primary);
}

/* Products Cards and Views */

.our-products {
  background-color: #131313;
  background-image: url('./assets/carta-bg.webp');
  background-size: cover;
  background-repeat: repeat;
}

.view {
  display: grid;
  grid-template-columns: repeat(6, minmax(18rem, 275px)); /* Set a minimum width for each column */
  grid-auto-columns: 200px; /* Set the width of each fraction to the same width as the .product-img */
  width: 100%;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  justify-content: center; /* Center the grid */
  align-items: center;
  
}

.non-alcohol-view {
  display: grid;
  grid-template-columns: repeat(3, minmax(18rem, 275px)); /* Set a minimum width for each column */
  grid-auto-columns: 200px; /* Set the width of each fraction to the same width as the .product-img */
  width: 100%;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  justify-content: center; /* Center the grid */
  align-items: center;
}


.food-view {
  display: grid;
  grid-template-columns: repeat(4, minmax(18rem, 275px)); /* Set a minimum width for each column */
  grid-auto-columns: 200px; /* Set the width of each fraction to the same width as the .product-img */
  width: 100%;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  justify-content: center; /* Center the grid */
  align-items: center;
}


.product-info {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.product-info h3 {
  text-align: start;
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
  line-height: 1.5rem;
  font-weight: bold;
}

.product-info p, .product-price p {
  text-align: start;
  font-size: 1rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  gap: 1rem;
  background-color: var(--navbar-background-color);
  padding: 1rem;
  border-radius: 1rem;
  border: 8px solid rgba(147, 112, 76, 0.6);
  color: white;
  font-family: var(--font-merriweather);
  margin-top: 1.25rem;
  min-height: 30rem;
}

.product-img {
  width: 100%;
  border-radius: 1rem;

}

.product-info {
  text-align: center;
  width: 100%;
  line-height: 1.5rem;
  
}

/* cards view tabs */

.tabs {
  display: flex;
  flex-direction: row;
  width: fit-content;
  padding: 0 2rem;
  border-radius: 3rem;
  justify-content: center;
  align-items: center;
  background-color: var(--navbar-background-color);
  z-index: 30;
}

.tabs-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 2rem;
  height: fit-content;
  justify-content: center;
}

.tabs button {
  background-color: var(--navbar-background-color);
  color: white;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--font-merriweather);
  border: none;
  border-bottom: 2px solid transparent; /* add this line */
  transition: border-bottom-color 0.3s ease-in-out;
}

.tab-underline {
  border-bottom: 2px solid var(--primary); /* adjust the color and width to your liking */
}

.tab-underline.selected {
  border-bottom-color: var(--primary); /* adjust the color to your liking */
}

.tabs .selected button  {
  border-bottom-color: var(--primary);
}

.tabs button:hover {
  border-bottom-color: var(--primary);
}

/* media querys */
@media (min-width: 1060px) and (max-width: 1400px) {
/* Home section tablets */
  .home-section {
    height: 100vh;
  }

  .hero-container {
    background-repeat: no-repeat;
    background-size: 100% 100%;

  }
  /* Products section tablets */
  .view {
    grid-template-columns: repeat(3, minmax(18rem, 275px));
  }
  
  .food-view {
    width: 100%;
    grid-template-columns: repeat(2, minmax(18rem, 275px));
  }
}



@media (min-width: 700px) and (max-width: 1050px) {
  .view {
    grid-template-columns: repeat(2, minmax(18rem, 275px));
  }

  .non-alcohol-view {
    grid-template-columns: repeat(3, minmax(15rem, 275px));
  }

}

@media (max-width: 1060px) {

/* Home section small screens */

  .home-section {
    height: 100vh;
  }

  .hero-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .hero-container > * {
    margin: 0 auto;
  }

  .title-container {
    font-size: 1rem;
  }

  .hero-text-container p {
    font-size: 0.8rem;
  }

  .left-side img {
    width: 100%;
  }

  .right-side img {
    width: 90%;
    max-width: 400px;
  }

  .blackboard {
    display: flex;
    justify-self: center;
    margin: 0 auto;
    padding: 0.5rem;
  }


}

/* very small screens (phone) */

@media (min-width: 300px) and (max-width: 700px) {

    /* Products section small screens */
  
  .view, 
  .non-alcohol-view, 
  .food-view {
    grid-template-columns: repeat(1, minmax(18rem, 275px));
  }
}